@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.input-glow:focus {
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}
.sidebar {
  grid-column: span 3;
  grid-row: span 3;
}
.nav_cta {
  background-color: #000;
  background-image: linear-gradient(
    135deg,
    var(--base-color-brand--brand-green),
    #16418a
  );
  color: var(--text-color--text-alternate);
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.4rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.5s;
}
.income-card {
  grid-column: span 3;
}
.expenses-card {
  grid-column: span 6;
}
.deductions-card {
  grid-column: span 3;
}
.status-card {
  grid-column: span 3;
}
.chart-card {
  grid-column: span 6;
  min-height: 0; /* Add this to prevent height expansion */
}
.allocations-card {
  grid-column: span 3;
}
.scrollable {
  overflow-y: auto;
  max-height: 100%;
}
.scrollable::-webkit-scrollbar {
  width: 6px;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
.chart-container {
  position: relative;
  height: 100%;
  min-height: 300px; /* Set a minimum height */
  max-height: 100%; /* Prevent infinite growth */
}
.no-arrows {
  -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
.category-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.category-arrow {
  transition: transform 0.3s ease-in-out;
}

.input-active {
  border-color: rgba(59, 130, 246, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1) !important;
}

.input-glow:focus {
  border-color: rgba(59, 130, 246, 0.7);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.glass-effect {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.02);
}

.category-toggle:hover {
  background: rgba(255, 255, 255, 0.05);
}